.container1 {
  display: inline-flex;
  border: 5px solid green;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.content1,
.content2 {
  height: 200px;
  width: 200px;
  border: 3px solid red;
  padding: 10px;
  margin: 15px;
}

span {
  font-weight: 700;
  font-size: large;
}

ul > li {
  text-align: justify;
}

.block {
  display: block;
  border: 5px solid green;
  padding: 10px;
}

.inline {
  display: inline;
  border: 5px solid green;
  padding: 10px;
}

.inline_block {
  display: inline-block;
  border: 5px solid green;
  padding: 10px;
  margin-top: 20px;
}

.box1,
.box2,
.box3 {
  height: 30px;
  width: 60px;
  border: 3px solid red;
  padding: 10px;
  margin: 15px;
}

h1 {
  text-align: center;
}

.static,
.sticky,
.relative,
.absolute,
.fixed {
  border: 3px solid blue;
  background-color: aquamarine;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
  bottom: 0px;
}

.relative {
  position: relative;
  left: 50px;
}

.absolute_main {
  position: relative;
  height: 300px;
  width: 500px;
  border: 5px dotted black;
  margin: 10px;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 30px;
}

.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}
